.modal-container {
    display: block;
}

.modal-container .btn-dismiss {
    top: 2%;
    right: 2%;
}

.list-checkbox {
    list-style-type: none;
    text-align: left;
    padding-inline-start: 0;
    min-height: 20vh;
    max-height: 35vh;
    overflow-y: scroll;
}

.playlist-container {
    border: 1px solid var(--primaryBg);
    margin: 1rem;
    border-radius: 0.25rem;
    min-height: 8rem;
}

.playlist-name, .playlist-edited{
    font-size: 1.2rem;
    border-radius: 1rem;
    max-width: 13rem;
    padding: 0.5rem;
}
.playlist-name{
    border: none;
    font-weight: bold;
    color: var(--primaryBg);
}

.playlist-edited{
    color: var(--secondaryTxt);
    border: 2px solid var(--theme600);
    padding: 0.3rem;
    margin: 0.2rem;
}