.video-container{
    max-width: 99vw;
    max-height:  45vh;
    margin: 0.4rem auto;
}

.author-container{
    display: flex;
    align-items: center;
    width: 100%;
    color: var(--primaryBg);
    border: 1px solid var(--theme100);
    justify-content: space-evenly;
    margin-top: 0.8rem;
}

.author-container .txt-grey{
    padding-left: 0.5rem;
}

.author-dp{
    width: 18%;
    border: 1px solid var(--primaryBg);
    border-radius: 50%;
    margin: 0.2rem;
}

.author-dp, .author-name{
    cursor: pointer;
}

.video-description{
    width: 90%;
    margin: 0.5rem auto;
    font-size: 0.8em;
    line-height: 1.45;
}

@media screen and (min-width: 576px) {
    .author-container{
        max-height: 5rem;
    }
    .author-dp{
        width: 10%;
    }
}

@media screen and (min-width: 768px) {
    .author-container{
        max-height: 8rem;
        width: 50%;
        margin: auto;
    }
    .video-description{
        width: 50%;
    }
    .video-container{
        max-width: unset;
        max-height:  unset;
    }
}