.filter-container{
    width: 98%;
    margin: auto;
}

.btn-clear{
    background-color: transparent;
    border: transparent;
    font-weight: bold;
    font-size: 1rem;
    color: var(--secondaryTxt);
  }
  
  .btn-clear:hover{
    text-decoration: underline;
    cursor: pointer;
  }
  
@media screen and (min-width: 576px) {
    .filter-container .txt-input{
        width: 25rem;
    }
}


@media screen and (min-width: 992px) {
    .filter-container{
        width: 50%;
    }
    .filter-container .txt-input{
        width: 30rem;
    }
}